@mixin section{
   display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 24px;

    }


header{
    @include section;
}

main{
@include section;
}