*{
margin: 0;
box-sizing: border-box;
padding: 0;
max-width: 100%; /* IMPORTANTE: Añadir esto */
}


h1{
font-family: "Playfair Display", serif;
font-size: 36px;
line-height: 44px;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    line-height: 32px;
}
p{
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height:24px;
}




/* NAV */


nav{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding: 16px 24px 16px 24px;
max-width: 1440px;
margin: 0 auto;
width: 100%;
}


ul{
display: flex;
flex-direction: row;
gap: 16px;
justify-content: space-between;
}

li{
    list-style: none;
}
a{
text-decoration: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
line-height: 20px;
color: black;
border: 1px solid black;
border-radius: 12px;
padding: 2px 8px 2px 8px ;

}
a:hover {
    color: #ffffff;
    text-decoration: none;
  
    background-color: #000000;
}




/* SECTION HERO */

#hero{
display: flex;
width: 100vw;
flex-direction: column;
justify-content: center; 
align-items: center;
gap: 10px;
align-self: stretch;
flex-wrap: wrap;
padding: 56px 24px 56px 24px;

}


.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
gap:16px;
max-width: 1440px;


}


.contentheader{

display: flex;
flex-direction: column;
gap: 12px;
padding: 24px 24px;


}
.contentheader3{

display: flex;
flex-direction: column;
gap: 12px;
padding: 0px 0px 24px 24px;
}

.wrapchips{
display: flex;
flex-direction: row;
gap: 12px;
flex-wrap: wrap;

}

.chip{

 border: 1px solid black;
padding: 4px 16px;
background-color: #f5f5f5;
border-radius: 12px;
}


.container-imghero{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}






/* test */

/* SECTION DESAFIO */

#sectiondesafio{
display: flex;
width: 100vw;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
flex-wrap: wrap;
padding: 56px 24px 56px 24px;

}


.container-desafio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
gap:16px;
max-width: 1440px;


}


.container-info-desafio{

display: flex;
flex-direction: column;
gap: 12px;


}



.container-img-desafio{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/* SECTION PROPUESTA */

#section-propuesta{
display: flex;
width: 100vw;
flex-direction: column;
justify-content: center; 
align-items: center;
gap: 10px;
align-self: stretch;
flex-wrap: wrap;
padding: 56px 24px 56px 24px;

}


.container-propuesta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
gap:16px;
max-width: 1440px;


}


.content-propuesta{

display: flex;
flex-direction: column;
gap: 12px;


}
/* SECTION IMG FULL WID */

 #section-img-propuesta {
    display: flex;
    width: 100vw; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw; /* Trucos para salir del contenedor */
    margin-right: -50vw;
}


.container-img-propuesta {
    width: 100%;
    display: flex;
    padding: 0;
}   


.container-img-propuesta img,
.img-propuesta {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* SECTION UIKIT */
#section-uikit {
    display: flex;
    width: 100%; /* CAMBIADO de 100vw */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 200px 24px;
}

.container-uikit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.content-uikit {
    flex: 1;
    max-width: 600px;
    min-width: 300px; /* Ancho mínimo para responsive */
}

.container-img-uikit {
    flex: 1;
    max-width: 100%;
}

.container-img-uikit img {
    width: 100%;
    height: auto;
    display: block;
}


/* SECTION DESAFIO */

#section-desafio-2{
display: flex;
width: 100vw;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
flex-wrap: wrap;
padding: 56px 24px 56px 24px;

}


.container-desafio-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
gap:16px;
max-width: 1440px;


}


.content-desafio-2{

display: flex;
flex-direction: column;
gap: 12px;


}



.container-img-desafio-2{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}



/* SECTION IMG FINAL */


 #section-img-footer {
    display: flex;
    width: 100vw; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw; /* Trucos para salir del contenedor */
    margin-right: -50vw;
}


.container-img-footer {
    width: 100%;
    display: flex;
    padding: 0;
}   


.container-img-footer img,
.img-footer {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


/* footer */

footer{
 display: flex;
padding: 200px 56px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}

#h2footer{
max-width: 800px;
 text-align: center;
}


.boton{
    padding: 8px 16px 8px 16px;
     border: 1px solid black;
    border-radius: 12px;
background-color: #f5f5f5;


}
.boton:hover{
    background-color: #000000;
    color: #f5f5f5;



}